body {
    font-family: 'Castoro', serif;
    font-family: 'Noto Serif TC', serif;
}

.bg-section{
    background-color: #F7F2EE;
}

.fullscrren-height {
    min-height: calc(100vh - 90px);
    @media (min-width: 992px) {
        min-height: calc(100vh - 104px);
    }
}

.space-top{
    margin-top: 90px;
    @media (min-width: 992px) {
        margin-top: 104px;
    }
}

.logo-width{
    width: 110px;
    @media (min-width: 992px) {
        width: 196px;
    }
}

.bg-banner {
    background-image: url('../../assets/img/mb/banner.png');
    background-size: cover;
    background-position: top center;
    @media (min-width: 992px) {
        background-image: url('../../assets/img/pc/banner.png');
    }
}

.bg-banner-black{
    background-color: $black;
    opacity: .6;
    z-index: 0;
}

.bg-banner-gray{
    background-color: $black;
    opacity: .4;
    z-index: 0;
}

.divide-line{
    width: 2px;
    height: 83px;
    background:linear-gradient(to bottom, #BE9C7C, $white);
    @media (min-width: 992px) {
        width: 500px;
        height: 2px;
        background:linear-gradient(to right, #BE9C7C, $white);
    }
}