body {
    font-family: 'Castoro', serif;
    font-family: 'Noto Serif TC', serif;
}

.bg-section{
    background-color: #F7F2EE;
}

.fullscrren-height {
    min-height: calc(100vh - 84px);
    @media (min-width: 992px) {
        min-height: calc(100vh - 90px);
    }
}

.space-top{
    margin-top: 84px;
    @media (min-width: 992px) {
        margin-top: 90px;
    }
}

.bg-banner {
    background-image: url('../../assets/img/mb/banner.png');
    background-size: cover;
    background-position: top center;
    @media (min-width: 992px) {
        background-image: url('../../assets/img/pc/banner.png');
    }
}

.bg-banner-black{
    background-color: $black;
    opacity: .6;
    z-index: 0;
}

.divide-line{
    width: 2px;
    height: 83px;
    background:linear-gradient(to bottom, #BE9C7C, $white);
    @media (min-width: 992px) {
        width: 500px;
        height: 2px;
        background:linear-gradient(to right, #BE9C7C, $white);
    }
}

.card-divide-line{
    height: 2px;
    background:linear-gradient(to right, #BE9C7C, $white);
}

.room-space{
    padding-top: 40px;
    padding-bottom: 18px;
    @media (min-width: 992px) {
        padding-top: 80px;
        padding-bottom: 120px;
    }
}

.detail-width{
    @media (min-width: 1400px) {
        width: 73%;
    }
}

.w-30{
    width: 30%;
}

// 扶뒬매 banner
.banner-title-width{
    @media (min-width: 992px) {
        width: 55%;
    }
}

.banner-subTitle-width{
    @media (min-width: 992px) {
        width: 36%;
    }
}

.banner-divide-line{
    @media (min-width: 992px) {
        width: 100%;
    }
}

// 扶뒬매 section title
.title-divide{
    height: 2px;
    background:linear-gradient(to right, #BE9C7C, $white);
}

.bg-news{
    height: 294px;
    width: 100%;
    background-position: center center;
    background-size: cover;
    @media (min-width: 992px) {
        width: 44%;
    }
}

.news-title {
    width: 40%;
    @media (min-width: 992px) {
        width: 11%;
    }
}

.news-content{
    @media (min-width: 992px) {
        width: 83%;
    }
}

.news-body{
    @media (min-width: 992px) {
        width: 56%;
    }
}