.card-radius{
    border-radius: 20px;
}

.card-pwd{
    width: 100%;
    @media (min-width: 992px) {
        width: 41%;
    }
}

.card-info{
    width: 100%;
    @media (min-width: 992px) {
        width: 56%;
    }
}