.login-height {
    min-height: calc(100vh - 80px);
}

.user-width{
    @media (min-width: 992px) {
        width: 50%;
    }
}

.form-width{
    @media (min-width: 992px) {
        width: 75%;
        margin: 0 auto;
    }
    @media (min-width: 1850px) {
        width: 43%;
    }
}

.user-image {
    @media (min-width: 992px) {
        background-image: url('../assets/img/pc/register.png');
        background-size: cover;
        background-position: center center;
    }
}